.footer {
  background-color: #000;
  .footer__wrapper {
    padding: 120px 0;
    display: flex;
    justify-content: space-between;

    .footer__wrapper--links {
      display: flex;
      gap: 60px;

      .footer__links--link {
        max-width: 164px;
        display: flex;
        flex-direction: column;

        .link__title {
          margin-bottom: 48px;
          font-size: 18px !important;
          font-weight: 400;
          letter-spacing: 0.18px;
        }

        a {
          font-size: 16px;
          font-weight: 400;
          letter-spacing: 0.16px;
          height: 32px;
        }
      }

      .footer__links--logos {
        display: flex;
        gap: 5px;
        img {
          width: 28px;
          height: 28px;
        }
      }
    }
  }
}

@media (max-width: 1219px) {
  .footer__wrapper {
    padding: 120px 15px !important;
  }
}

@media (max-width: 870px) {
  .footer__wrapper {
    .footer__wrapper--links {
      gap: 25px !important;
    }
  }
}

@media (max-width: 750px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 50px;

    .footer__wrapper--logo {
      margin: 0 auto;
    }

    .footer__wrapper--links {
      margin: 0 auto;
      flex-direction: column;
      gap: 40px;

      .footer__links--link {
        text-align: center !important;
      }
    }
  }
}
