.interactive__wrapper {
  padding: 180px 75px;
  display: flex;
  align-items: center;
  gap: 192px;

  .interactive__wrapper--text {
    max-width: 540px;
    h1 {
      font-weight: 400;
      font-size: 54px;
      line-height: 70.4px;
      letter-spacing: 3.2px;
    }

    p {
      @include setParagraph();
    }
  }
}
