.nav {
  padding: 32px 12px;
  background-color: #fff;
  &__container {
    max-width: 1360px;
    margin: 0 auto;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav__left--menu {
      display: flex;
      align-items: center;
      gap: 80px;
    }

    .nav-links {
      display: flex;
      align-items: center;
      gap: 52px;
    }

    .nav__wrapper--mobile {
      display: none;
    }
  }

  a {
    color: #000;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.42px;
  }
}

@media (max-width: 950px) {
  .nav__left--menu {
    gap: 40px !important;
  }

  .nav-links {
    gap: 25px !important;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none !important;
  }

  .nav__wrapper--mobile {
    display: block !important;
  }
}
