@mixin setTitle() {
  font-size: 58px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 1.92px;
}

@mixin setParagraph() {
  font-size: 27px;
  font-weight: 400;
  line-height: 37.8px;
  letter-spacing: 1.08px;
  opacity: 0.5;
  margin-top: 38px;
  span {
    font-weight: 700;
    opacity: 1 !important;
  }
}

@import "./reset";
@import "./navbar";
@import "./hero";
@import "./shoot";
@import "./enrich";
@import "./interactive";
@import "./share";

body {
  font-family: "Roboto", sans-serif;
  background-color: #121118;
  color: #fff;
}
